<footer>
  <img src="/images/logo.png" alt="Lighthouse Labs Logo" />
  <p class="text-center text-muted">&copy; Copyright 2023 The Students of Lighthouse Labs</p>
  <p class="text-center text-muted"> PinPals is designed by <a href="/about">The Students at Lighthouse Labs</a> from the midterm project Wiki Maps.</p><br>
  <p class="text-center text-muted"> <a href="https://github.com/icornell/MidtermMaps.git">Click Here</a> to access the github repository for more information</p>
</footer>
