<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
</head>
<body>
    <div class="header">
        <div class="logo">
          <img src="/images/logo-small.png" alt="PinPals: Creative Cartography One Pin at a Time" />
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/nav/search">Search</a></li>
                <li><a href="/u/login/:user_id">Sign In</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
