<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <!-- Add your CSS and other head elements here -->
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="logo-img" alt="Logo">
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/signin">Sign In</a></li>
            </ul>
        </div>
    </div>
    <!-- The rest of your page content goes here -->
</body>
</html>



