<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/about.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <%- include('partials/header') %>
  <!-- logo-->
  <div class="large-logo">
    <img src="/images/logo-transparent.png" alt="PinPals: Creative Cartography One Pin at a Time" />
  </div>
  <div class="content">
    <h1>The Students of Lighthouse Labs</h1>
    <p>
      The Students of Lighthouse Labs consists of Luna and India. <br>
      We created this web app in collaboration together as our midterm project Wikimaps. <br>
      This is a web app that allows users to collaboratively create maps which list multiple "points". <br>
      For example: "Best Places to Eat Around Town" or "Locations of Movie Scenes". <br>
      <h3>Our Aims</h3>
    </p>
    <ul class="requirements">
      <li>Users can see a list of the available maps</li>
      <li>Users can view a map</li>
      <li>A map can contain many points</li>
      <li>Each point can have: a title, description, and image</li>
      <li>Authenticated users can create maps</li>
      <li>Authenticated users can modify maps (add, edit, remove points)</li>
      <li>Authenticated users can favorite a map</li>
      <li>Authenticated users have profiles, indicating their favorite maps and maps they've contributed to</li>
      <li>Use <a href="http://leafletjs.com/" style="color: blue;">http://leafletjs.com/</a> to display maps</li>
    </ul>
  </div>
  <%- include('partials/footer') %>
</body>

</html>
