<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"/>

    <!-- stylesheets CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/map.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- leaflet CSS file -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <!-- scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/server.js"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <title>New Map Page</title>
    <!-- header -->
    <%- include('partials/header') %>
  </head>

  <body>

    <h2>Create a New Map</h2>
    <form class="form-inline" action="/map/create" method="POST">
      <div class="form-group mb-2">
        <label for="name">Enter a name for your new map:</label>
        <input
          class="form-control"
          type="text"
          name="name"
          placeholder="London Places to Eat"
          style="width: 300px; margin: 1em"
        />
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    <!-- create container for map and display name, date created-->
    <div class="map-container">
      <div id="map"></div>
      <script>
        //Initialize map for this container
        const mapElement = document.getElementById('map');
        const map = L.map(mapElement).setView([51.505, -0.09], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        function onMapClick(e) {
          const { lat, lng } = e.latlng;

          const mapPointInfo = {
            'user_key': user_id,
            'maps_key': '',
            'x_coordinate': lat,
            'y_coordinate': lng,
            'name': req.body.name,
            'description': '',
            'thumbnail': '',
          };

          //Add a new marker to map
          const marker = L.marker(e.latlng).addTo(map);

          //Add new map point to the database
          addNewMapPoint(mapPointInfo)
            .catch((err) => {
              console.error('Error adding map point:', err);
            });
        }

        map.on('click', onMapClick);

      </script>
    </div>

  </body>

  <!-- footer -->
  <%- include('partials/footer') %>
</html>
