// Define the font family as a variable for reuse
$font-family: "Livvic", sans-serif;

.content {
  text-align: center;
  width: 100%;
  font-family: $font-family;
}

.requirements {
  margin-top: 20px;
  text-align: center;
  font-family: $font-family;
  padding-left: 0px;
    li {
    margin-bottom: 10px;
    font-family: $font-family;
  }
}
.large-logo {
  margin-top: 0px;
  padding-top: 0px;
}

// Formatting for desktop screens
@media screen and (min-width: 1024px) {
  main {
    width: 52%;
    margin: 0 3%;
    float: right;
  }

}
