// Define variables for reuse
$header-bg-color: #FC2929;
$header-text-color: #000;
$header-padding: 10px 20px;
$nav-item-spacing: 20px;
$nav-link-color: #fff;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $header-bg-color;
  color: $header-text-color;
  padding: $header-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .logo img {
    max-height: 40px;
  }

  .navigation {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      /* vertically centered */

      li {
        margin-right: $nav-item-spacing;
        /* spacing between navigation items */

        a {
          text-decoration: none;
          color: $nav-link-color;
          /* link color */
        }
      }
    }
  }
}
