
main {
  padding-top: 40px;
  padding-bottom: 30px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  font-family: "Livvic", sans-serif;
  padding-top: 5em;
  padding-bottom: 10em;
}

/* CSS for the button container */
.button-container {
  max-width: 100%; /* screen width */
  margin: 20px auto; /* Center the container horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between; /* Spacing between items */
  margin-bottom: 20px; /* Space between rows */
  width: 100%; /* Make each row take up 100% of the container width */
}

.item {
  text-align: center;
  width: 30%; /* item width */
  max-width: 100%; /* container width */
  height: 300px; /* map container height */
  background-color: #fff; /*background color*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%; /*Fit within its container */
  height: auto; /* Maintain image aspect ratio */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  max-width: 100%; /* Ensure the button doesn't exceed its container width */
  box-sizing: border-box; /* Ensure padding doesn't affect the button's width */
  text-align: center; /* Center button text */
}

/* Hover effect for buttons */
button:hover {
  background-color: #555;
}

.map {
  height: 30em;
  width: 30em;
  position: relative;
  z-index: -1;
}

//container to display all maps
div.mapHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20em;
}

//individual map containers
div.map-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.mapbutton.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* "Like" button */
button.like-button.like {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer; /* Cursor on hover */
  color: rgba(0, 150, 136, 1);
  background-color: rgba(38, 166, 154, 0.3);
  border-color: rgba(0, 150, 136, 1);
  border-width: 1px;
}

/* Formatting for desktop screens */
@media screen and (min-width: 1024px) {
  main {
    width: 52%;
    margin: 0 3%;
    float: right;
  }

  body {
    margin-top: 150px;
  }
}
