.map {
  height: 30em;
  width: 30em;
  position: relative;
  z-index: -1;
}

//container to display the map
div.mapHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20em;
}
